<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartplant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.Penanaman.PenanamanActivity3"></activity>
        <activity android:name=".ui.Nutrisi.Nutrisi2" />
        <activity android:name=".ui.Nutrisi.Nutrisi1" />
        <activity android:name=".ui.Praktik.Praktik10" />
        <activity android:name=".ui.Praktik.Praktik9" />
        <activity android:name=".ui.Praktik.Praktik8" />
        <activity android:name=".ui.Praktik.Praktik7" />
        <activity android:name=".ui.Praktik.Praktik6" />
        <activity android:name=".ui.Praktik.Praktik5" />
        <activity android:name=".ui.Praktik.Praktik4" />
        <activity android:name=".ui.Praktik.Praktik3" />
        <activity android:name=".ui.Praktik.Praktik2" />
        <activity android:name=".ui.Praktik.Praktik1" />
        <activity android:name=".ui.Praktik.PraktikLogin" />
        <activity android:name=".ui.Katalog3.KatalogActivity3" />
        <activity android:name=".ui.Katalog2.KatalogActivity2" />
        <activity android:name=".ui.Katalog2.katalog2" />
        <activity android:name=".ui.Katalog.KatalogActivity" />
        <activity android:name=".ui.Perawatan3.PerawatanActivity3" />
        <activity android:name=".ui.Perawatan2.PerawatanActivity2" />
        <activity android:name=".ui.Perawatan.jenis_perawatan" />
        <activity android:name=".ui.Tentang.tentang" />
        <activity android:name=".ui.Nutrisi.nutrisi" />
        <activity android:name=".ui.Katalog.katalog" />
        <activity android:name=".ui.Praktik.praktik" />
        <activity android:name=".ui.Perawatan.PerawatanActivity" />
        <activity android:name=".ui.Penanaman.PenanamanActivity" />
        <activity
            android:name=".ui.beranda.Beranda"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.DaftarPerawatan.DaftarPerawatanActivity" />
        <activity
            android:name=".ui.Awalan.Awal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>